workflow-n8n/[AgentWorkspace] Backend - IA [PROD] (1).json
{
  "name": "[AgentWorkspace] Backend - IA [PROD]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-worskpace-ocrreader",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2432,
        4096
      ],
      "id": "0b067b78-bd1a-4a51-9941-db77d2491534",
      "name": "OcrReader",
      "webhookId": "5755a173-2207-475a-bc2e-e2e0119ca4fc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ijbxQ3MEhtE9Pv8213fdG8p9VErdqPCq"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.body.document_url }}\"\n  },\n  \"include_image_base64\": true\n} ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2208,
        4096
      ],
      "id": "210169ce-cc45-41fb-8df2-bd1c5859200f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1760,
        4096
      ],
      "id": "c0042189-48d1-4bcd-8948-48f0928ebf45",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "// Code node\nreturn $json.pages.map(page => ({\n  markdown: page.markdown\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        4096
      ],
      "id": "f098e639-049d-4a1c-9608-004c9b688202",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1280,
        3808
      ],
      "id": "ffeee9a0-a807-4eb0-886f-7efa8f03ff9d",
      "name": "When chat message received",
      "webhookId": "c5173ac5-91ee-4ae1-9a2e-0bbe80fa7bda"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data1').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -368,
        3584
      ],
      "id": "a26e6e97-733b-4a5f-85ce-84cf7f1e260a",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Mensagem do agente:\n{{ $('mensagemAgente').first().json.mensagemAgente }}\n\n## input user:\n{{ $('Mensagem Principal').first().json.Mensagem }}",
        "options": {
          "systemMessage": "=Você é um supervisor. Siga estritamente:\n\n\n1) Consulte primeiro a Mensagem do agente, se estiver mensagem condizente com o input do user, retorne PROCEED (.\n2) Se a Mensagem do agente não tiver contexto suficiente --apenas nesses casos- ([nenhum documento relevante encontrado]) ou não retornar resultados relevantes para o input do usuário, retorne HANDOFF\nresponda SOMENTE com uma destas strings:\n- PROCEED (se a base for suficiente)\n- HANDOFF (se nao for suficiente)\nNunca responda ao usuário final, não explique seus passos.\n\n## atente-se à mensagens de saudações, nesse caso na use handoff\nEx.: Olá, bom dia, tudo bem...\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        464,
        3728
      ],
      "id": "9ec0c399-d251-430a-8279-e2095851b959",
      "name": "Supervisor Agent1"
    },
    {
      "parameters": {
        "description": "Informações gerais para perguntas e respostas",
        "topK": "=6"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -400,
        3744
      ],
      "id": "278c9fbb-d679-4e28-9990-accfbf4e4a17",
      "name": "SupabaseVectorStore1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workspace-agent-pap",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1264,
        3568
      ],
      "id": "dac8da5d-af53-4d4a-be8e-9a1d04d4b247",
      "name": "Webhook1",
      "webhookId": "aad39c34-9ea0-427a-99ae-8a363ada5c9d",
      "credentials": {
        "httpBasicAuth": {
          "id": "fiLiIWKGnVoMgpMd",
          "name": "Worskpace-Agent"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "agent_id",
              "value": "={{ $json.body?.agent_id ?? '2d58bfaf-d5a3-48ce-9012-4cc1d5eda5d2'\n}}"
            },
            {
              "name": "sessionId",
              "value": "={{ $json.body?.session_id ?? $json.sessionId}}"
            },
            {
              "name": "message",
              "value": "={{ $json.body?.message ??  $json.chatInput}}"
            },
            {
              "name": "history",
              "value": "={{ JSON.stringify($json.body.history || []) }}"
            },
            {
              "name": "response_format",
              "value": "={{ $json.body.response_format ?? 'text' }}"
            },
            {
              "name": "SUPABASE_FUNCTIONS_URL",
              "value": "https://bdhhqafyqyamcejkufxf.supabase.co"
            },
            {
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkaGhxYWZ5cXlhbWNlamt1ZnhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTMxOTMzNSwiZXhwIjoyMDc2ODk1MzM1fQ.IpnH7ZfuL3bQSR4LgE3pRyJV_XR-zdRqiyiXMOdCNKA"
            },
            {
              "name": "isAudio",
              "value": "={{ $json.body.message.includes('.webm')}}"
            },
            {
              "name": "chatInput",
              "value": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d66dda6-ac57-4a4e-8aac-5efee3c928ad",
      "name": "Extract Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1040,
        3568
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        3632
      ],
      "id": "672eefbb-3eb1-49de-aa1e-70e998acdd97",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.agent_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        3568
      ],
      "id": "d22542e1-3696-4f84-b0c2-58e69699241d",
      "name": "getAgentConfigs1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        4112
      ],
      "id": "2c9c6d18-e7c0-4bf2-9e9d-c2d46cc7cb2f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "knowledge_documents",
          "mode": "list",
          "cachedResultName": "knowledge_documents"
        },
        "options": {
          "queryName": "match_knowledge_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "=agent_id",
                "value": "={{ $('Extract Data1').first().json.agent_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -320,
        3872
      ],
      "id": "f92bf0f8-2bb6-4774-9136-3cd7e689891f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Mensagem }}",
        "options": {
          "systemMessage": "=## REGRAS PRIMORDIAIS\n1) Receber a query do usuário\n2)  Usar a tool \"SupabaseVectorStore1\" para buscar informações relevantes na base de conhecimento vetorizada.\n\n\nIMPORTANTE:\n- Considere erros de digitação por parte do usuário quando falar de conceitos e nomes do segmento.\n- Você NÃO explica seus passos\n- Você DEVE usar a tool \"SupabaseVectorStore1\" com a query do usuário\n- Se não encontrar informações relevantes, retorne: \" [nenhum documento relevante encontrado]\"\n- Use as metadatas (tags, descriptions) para melhorar a relevância da busca\n- NUNCA ignore os resultados da tool - sempre use os documentos retornados para construir o contexto\n- O contexto deve incluir TODAS as informações relevantes encontradas nos documentos\n\n\n##USE COMO CONTEXTO AS DATAS:\nTIMESTAMP: {{ $now }}\nDIA: {{ $now.day }}\nMÊS: {{ $now.month }}\nANO: {{ $now.year }}\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -256,
        3360
      ],
      "id": "fa2dfaba-69d0-4e50-9202-639e6b2468b0",
      "name": "RAG Search Agent1",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "human_assist_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "agent_id",
              "keyValue": "={{ $('Extract Data1').item.json.agent_id }}"
            },
            {
              "keyName": "session_id",
              "keyValue": "={{ $('Extract Data1').item.json.sessionId }}"
            },
            {
              "keyName": "status",
              "keyValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1280,
        3184
      ],
      "id": "ec4caad3-b9dc-4509-bcb9-b2e5d1834aeb",
      "name": "Check Open Assists Pending1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "BvddCSLvY0QFxU46",
          "name": "[Gabriel[ Supa"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "human_assist_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "agent_id",
              "keyValue": "={{ $('Extract Data1').item.json.agent_id }}"
            },
            {
              "keyName": "session_id",
              "keyValue": "={{ $('Extract Data1').item.json.sessionId }}"
            },
            {
              "keyName": "status",
              "keyValue": "in_progress"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        3200
      ],
      "id": "ea7bcf88-c40e-45d1-af5a-daffa37ea640",
      "name": "Check Open Assists InProgress1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bf74cd8-8ec4-4dae-bf9a-7b1e5c99f169",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1f45332f-cd18-4e45-988e-94fa3a8ec934",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        3184
      ],
      "id": "4f317897-40f1-4648-aded-d5c50922eb09",
      "name": "HumanPending?3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bf74cd8-8ec4-4dae-bf9a-7b1e5c99f169",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1f45332f-cd18-4e45-988e-94fa3a8ec934",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=in_progress",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        3216
      ],
      "id": "c2380434-59f1-4ed2-b750-b34884b230fd",
      "name": "HumanPending?2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -912,
        3376
      ],
      "id": "508ab033-7b5d-46ac-8857-161598284067",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## [AgentWorkspace] Backend - IA [MAG]\n",
        "height": 1200,
        "width": 3424,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1376,
        3104
      ],
      "typeVersion": 1,
      "id": "f7da75f1-b475-4e23-a37f-061fd8a4be55",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data1').item.json.body.session_id }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        3888
      ],
      "id": "946ccef5-d9b9-47af-a763-6dc000f9a253",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02614d7b-1f3f-44cd-b1ed-7c01b4f712a9",
              "leftValue": "={{ $('Extract Data1').first().json.isAudio }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        2752
      ],
      "id": "013fa243-b82b-4f77-8de7-b70482cb103f",
      "name": "Is Audio?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b1fb8c5-39a9-4c9c-a6be-c59c03037a49",
              "name": "Mensagem",
              "value": "={{  $json[\"MENSAGEM-AUDIO\"] ?? ($('Extract Data1').item.json.message ?? $('Extract Data1').item.json.body.message) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "442ae3a7-de53-448d-bc9d-50530acfd168",
      "name": "Mensagem Principal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        2960
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {
          "language": "pt"
        }
      },
      "id": "66963c1c-a367-4cd0-95e3-7251d40a1d6d",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -672,
        2960
      ],
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aab56c59-e5ab-4a6a-a90f-52e8546a2a6a",
              "name": "MENSAGEM-AUDIO",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "874dad0f-04c7-4c8a-9a54-a4b7da7c8344",
      "name": "DEFINIR MENSAGEM1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        2960
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Extract Data1').item.json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        2960
      ],
      "id": "330fdcab-6c18-4a9a-9b64-05570966cdf1",
      "name": "Get Audio File"
    },
    {
      "parameters": {
        "content": "## tratamento de audio\n",
        "height": 480,
        "width": 1224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        2624
      ],
      "typeVersion": 1,
      "id": "fd35da26-69f5-4839-b2b4-5c6c380ea7de",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const sessionId = $('Extract Data1').first().json.sessionId;\n\nlet response =  $('mensagemAgente').first().json.mensagemAgente \n\n\n\nreturn [{ response, session_id: sessionId }];"
      },
      "id": "f025d49e-2aa1-4682-b18b-502fd5a65390",
      "name": "Format Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        3440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{  ($('Extract Data1').item.json.SUPABASE_FUNCTIONS_URL + '/functions/v1') + '/human-assist' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Data1').item.json[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "={{ $('Extract Data1').item.json.body.agent_id }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data1').item.json.body.session_id }}"
            },
            {
              "name": "user_message",
              "value": "={{ $('Extract Data1').item.json.body.message }}"
            },
            {
              "name": " ai_message",
              "value": "Só um momento enquanto verifico essa informação."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        3216
      ],
      "id": "8a4d73b2-775e-4771-84f9-c80b686e2191",
      "name": "aiNeedsHelp"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Aguarda só um momento enquanto verifico essa Informação para você."
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data1').item.json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46146893-f05b-41df-971f-9b4e632168bb",
      "name": "Format Response Handoff1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1296,
        3216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "value2": "PROCEED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        896,
        3632
      ],
      "id": "7042c95e-5213-4760-9a8a-8f14ea6620bc",
      "name": "If Supervisor Decision1"
    },
    {
      "parameters": {
        "description": "Melhorias instruídas específicas do agente",
        "topK": "=3"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        752,
        3904
      ],
      "id": "7d2a0de4-56fb-4e5d-afb4-c49e492f1c1a",
      "name": "ImprovementsVectorStoreTool"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $json.base64 || $('Use Base Response').first().json.validated_response ?? $('Use Refined Response').first().json.validated_response ?? $('mensagemAgente').first().json.mensagemAgente }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data1').item.json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20c1ae38-6416-4d8a-858e-3ec894b9b6cd",
      "name": "Format Final Response (Refined)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1760,
        3712
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.response, \"session_id\": $json.session_id } }}",
        "options": {}
      },
      "id": "54f4dbc0-7e0d-40ee-ae8c-154cfee2f72f",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        3440
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "agent_improvements",
          "mode": "list",
          "cachedResultName": "agent_improvements"
        },
        "options": {
          "queryName": "match_agent_improvements",
          "metadata": {
            "metadataValues": [
              {
                "name": "=agent_id",
                "value": "={{ $('Extract Data1').first().json.agent_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        4016
      ],
      "id": "ceefb79d-9cf0-407d-88c5-0863900d9eaf",
      "name": "Improvements Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e0bb3b7-8f2e-448b-894f-a95d9a53e7e3",
              "leftValue": "={{ $('Extract Data1').first().json.isAudio }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        3696
      ],
      "id": "6115e6db-4427-4cc8-98ed-c882f1fe534e",
      "name": "ResponderAudio?"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "base64",
        "options": {
          "encoding": "base64"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1504,
        3552
      ],
      "id": "8ccb8ff0-5802-4d45-88f8-d52773e60881",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8dc9669f-6e91-47ee-8836-f6fddc3a4ae5",
              "name": "response",
              "value": "={{ $('Use Base Response').first().json.validated_response ?? $('Use Refined Response').first().json.validated_response ?? $('mensagemAgente').first().json.mensagemAgente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        3872
      ],
      "id": "d3d17651-90c3-47a2-bba3-d2da4eec6551",
      "name": "textResponse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/xWdpADtEio43ew1zGxUQ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "sk_d5b45b2fb760e4df64ff016c648558a567ec991996fd315b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Use Base Response').first().json.validated_response ?? $('Use Refined Response').first().json.validated_response ?? $('mensagemAgente').first().json.mensagemAgente }}"
            },
            {
              "name": "model_id",
              "value": "eleven_v3"
            },
            {
              "name": "speed",
              "value": "4"
            },
            {
              "name": "stability",
              "value": "0.74"
            },
            {
              "name": "similarity",
              "value": "0.67"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        3552
      ],
      "id": "5f68f155-096d-4917-94dc-b08270bd4061",
      "name": "Eleven Labs1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        3440
      ],
      "id": "337522e0-cd46-41cb-9232-821a18cb0b42",
      "name": "Wait",
      "webhookId": "8f2a93ba-6dd3-4383-8336-7402abde5d34"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        3920
      ],
      "id": "cbce60e0-4ffc-4d19-985c-b48f9a535082",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -480,
        3424
      ],
      "id": "4b11ceac-e07a-4c5e-9452-fb2a9e24b2dc",
      "name": "Wait1",
      "webhookId": "0fbc6e2a-ec15-4f3d-8a7d-3ad3a04839d5"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agent_handoff_config",
        "filters": {
          "conditions": [
            {
              "keyName": "agent_id",
              "keyValue": "={{ $('Extract Data1').first().json.agent_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        752,
        3152
      ],
      "id": "2f95e3ef-f990-4706-9e9d-413b645c232a",
      "name": "getAgentHandoff",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39e46925-ef03-4b39-8a28-a0a8aec287e5",
              "leftValue": "={{ $json('enabled') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1aad349d-ffab-4eb6-99bd-77f1194f81ad",
              "leftValue": "={{ $json('enabled') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        3152
      ],
      "id": "7103223b-3867-40ca-aa2a-f4ced72af4d5",
      "name": "activeHandoff?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Mensagem }}",
        "options": {
          "systemMessage": "=## SYSTEM PROMPT:\n{{ $('getAgentConfigs1').first().json.system_prompt }}\n\n##USE COMO CONTEXTO AS DATAS:\nTIMESTAMP: {{ $now }}\nDIA: {{ $now.day }}\nMÊS: {{ $now.month }}\nANO: {{ $now.year }}\n## REGRAS PRIMORDIAIS\n\n— Base sua resposta APENAS no contexto fornecido acima. Se o contexto não contiver informações suficientes, informe isso ao usuário.\n\n\n1) Receber a query do usuário e analise o SYSTEM PROMPT \n2) Quando necessário, caso nao definido no system prompt, Usar a tool \"SupabaseVectorStore\" para buscar informações relevantes na base de conhecimento vetorizada.\n\n\nIMPORTANTE:\n- Você NÃO responde ao usuário final\n- Você NÃO explica seus passos\n- Você DEVE usar a tool \"SupabaseVectorStore\" com a query do usuário\n- Se não encontrar informações relevantes, retorne: \" [nenhum documento relevante encontrado]\"\n- Use as metadatas (tags, descriptions) para melhorar a relevância da busca\n- NUNCA ignore os resultados da tool - sempre use os documentos retornados para construir o contexto\n- O contexto deve incluir TODAS as informações relevantes encontradas nos documentos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        256,
        3488
      ],
      "id": "d7939027-8de6-4505-9061-ce515abd87ed",
      "name": "RAG Search Agent - retry",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        3776
      ],
      "id": "84b358c2-316a-4792-a84a-2e1004d452a3",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6621dce9-e880-42d1-a73f-ee5b6e53bcaf",
              "name": "=mensagemAgente",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        3280
      ],
      "id": "d15f0206-f6f9-4302-a428-ed51228e9e0b",
      "name": "mensagemAgente"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{\n  \"user_message\": {{ $('Extract Data1').item.json.message }},\n  \"base_response\": {{ $json.response || $json.output || '' }},\n}\n",
        "options": {
          "systemMessage": "=Você é um Refiner Agent.\nVocê recebe dois campos:\n\nuser_message: pergunta original do usuário\n\nbase_response: resposta que o modelo principal gerou\n\nSua função é melhorar a resposta APENAS quando houver sugestões relevantes no vector store.\n\n🔹 REGRAS CRÍTICAS\n\n1. Sempre consulte ImprovementsVectorStoreTool usando o user_message.\n\n2. A resposta da ferramenta conterá itens com:\n   - metadata.user_message\n   - metadata.suggestion_de_melhoria\n\n3. Um item é relevante APENAS se:\n   - Possui \"suggestion_de_melhoria\" não vazia E não nula\n   - O metadata.user_message é SEMELHANTE ao user_message atual (mesmo contexto/pergunta)\n   - A similaridade é clara e inequívoca\n\n4. Se houver sugestão relevante:\n   - Substitua completamente a resposta e retorne apenas a sugestão de melhoria (reescrita de forma natural)\n   - Use APENAS o conteúdo da suggestion_de_melhoria encontrada\n\n5. Se NÃO houver sugestão relevante (casos abaixo):\n   - Vector store retornar vazio\n   - Nenhum item com suggestion_de_melhoria válida\n   - metadata.user_message não for similar ao user_message atual\n   - Qualquer dúvida sobre relevância\n   → ❗ RETORNE EXATAMENTE o conteúdo de base_response, CARACTERE POR CARACTERE, sem alterar ABSOLUTAMENTE NADA.\n\n6. NUNCA invente, adicione ou modifique informações que não estejam explicitamente na suggestion_de_melhoria encontrada.\n\n7. NUNCA altere base_response se não houver sugestão relevante clara e válida.\n\nNunca explique o processo.\nApenas retorne o texto final."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1104,
        3904
      ],
      "id": "463c2459-bdae-4b89-8af8-a10c2baf688a",
      "name": "Refiner Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        4112
      ],
      "id": "aa12e3ac-d165-4989-bbe3-35c088df4648",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data1').item.json.sessionId }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1216,
        4192
      ],
      "id": "01a192fe-0c25-46d7-8c1b-a93d953a2af1",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "content": "## OCR READER\n",
        "height": 256,
        "width": 1040,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2544,
        4032
      ],
      "typeVersion": 1,
      "id": "495dcde5-99e6-4e86-8df9-c0a34b9d23ea",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Data1').item.json.message }}",
        "options": {
          "systemMessage": "=Você é um agent communicator.\nSeu papel é receber o input do usuário. \nEstudar o <contexto> retornado pelo RAG Search Agent.\n\nE transformar a resposta final conforme <prompt>\n\n<contexto>\n{{ $json.output }}\n</contexto>\n\n<prompt>\n{{ $('getAgentConfigs1').first().json.system_prompt }}\n</prompt>\n\n\n## Jamais responda sobre perguntas fora do contexto do system prompt\n\n##USE COMO CONTEXTO AS DATAS:\nTIMESTAMP: {{ $now }}\nDIA: {{ $now.day }}\nMÊS: {{ $now.month }}\nANO: {{ $now.year }}\n\n\n⚙️ Regra de Foco e Escopo\nSe o usuário fizer qualquer pergunta que:\n- não esteja relacionada à empresa/produto/serviço do <systemprompt>,\n- não envolva peças, suporte, vendas ou informações institucionais da marca,\n- que não possa ser respondida com base neste contexto ou prompt.\n\nJamais indique concorrentes, nem que busque suporte ou informação em ou\ntro canal.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        3280
      ],
      "id": "8ed93499-aedd-4c63-b8f6-10892b49c97a",
      "name": "Agent Communicator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        3520
      ],
      "id": "fdf6b2b5-08fe-438f-82a1-2b01898b5e01",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        4128
      ],
      "id": "ec6fb086-0b51-49df-92bf-54f1e737ebec",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36fff67f-38bb-4e05-9d2d-7057e80d64a8",
              "name": "base_response",
              "value": "={{ $('mensagemAgente').first().json.mensagemAgente }}",
              "type": "string"
            },
            {
              "id": "46b635ad-9cae-40d4-9a21-9fe20d241a0e",
              "name": "refined_response",
              "value": "={{ $('Refiner Agent').first().json.output }}",
              "type": "string"
            },
            {
              "id": "bb64dc4a-1503-4a39-af2a-568632a214c7",
              "name": "user_message",
              "value": "={{ $('Extract Data1').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fdf91329-b389-4e33-8626-1cb9360f25f2",
      "name": "Prepare Validation Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        3904
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"base_response\": {{ $json.base_response }},\n  \"refined_response\": {{ $json.refined_response }},\n  \"user_message\": {{ $json.user_message }}\n}",
        "options": {
          "systemMessage": "=Você é um Validation Agent.\n\nRecebe:\n- base_response: resposta original do agente\n- refined_response: resposta após refinamento\n- user_message: pergunta original do usuário\n\nSua função:\n1. Se refined_response for IDÊNTICO a base_response → retorne \"KEEP_REFINED\"\n2. Se refined_response for diferente:\n   - Verifique se as diferenças estão JUSTIFICADAS pelas melhorias encontradas no ImprovementsVectorStoreTool\n   - Se SIM (melhorias relevantes encontradas e aplicadas) → retorne \"KEEP_REFINED\"\n   - Se NÃO (alterações não justificadas ou informações incorretas adicionadas) → retorne \"REVERT_TO_BASE\"\n\nIMPORTANTE:\n- Se refined_response introduzir informações que NÃO estavam nas melhorias do vector store → REVERT_TO_BASE\n- Se refined_response remover informações corretas da base_response sem justificativa → REVERT_TO_BASE\n- Se refined_response alterar o significado da resposta original sem melhoria clara → REVERT_TO_BASE\n- Se não houver melhorias relevantes, refined_response DEVE ser idêntico a base_response\n\nNunca explique, apenas retorne: \"KEEP_REFINED\" ou \"REVERT_TO_BASE\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1552,
        3904
      ],
      "id": "20fd2848-230b-4ab5-a4a6-e7eb53e571a9",
      "name": "Validation Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80f1e041-d3bd-48d0-806b-98baa5cbdc16",
              "leftValue": "={{ $json.output }}",
              "rightValue": "REVERT_TO_BASE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        3904
      ],
      "id": "37c6cf57-9ac0-4395-9298-630896de6f73",
      "name": "If Validation Decision"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "300c4d80-9e3e-41d7-9050-5fc9715c1cf4",
              "name": "validated_response",
              "value": "={{ $('Prepare Validation Data').first().json.base_response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8c399d69-d5f3-499b-8dd1-a058df395954",
      "name": "Use Base Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        3824
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "599b3d0a-2c39-443b-b169-de4f54869983",
              "name": "validated_response",
              "value": "={{ $('Prepare Validation Data').first().json.refined_response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "68145c83-307d-4ce9-8cb1-9a0b6f2fc39d",
      "name": "Use Refined Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        3984
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1424,
        4112
      ],
      "id": "e03126db-b90d-462a-8c96-0d5faf0c07ee",
      "name": "OpenAI Chat Model Validation",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "gsouzabd.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "304",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9,pt;q=0.8",
            "authorization": "Basic d29ya3NwYWNlLWFnZW50OmJkaGhxYWZ5cXlhbWNlamt1Znhm",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2804:14d:54aa:867b:1468:b75e:62ab:bd1a",
            "cf-ew-via": "15",
            "cf-ipcountry": "BR",
            "cf-ray": "99f6681b511a6505-GIG",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "http://localhost:5173",
            "priority": "u=1, i",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2804:14d:54aa:867b:1468:b75e:62ab:bd1a, 172.69.90.226",
            "x-forwarded-host": "gsouzabd.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-87-bcb9f59f7-7xp2f",
            "x-is-trusted": "yes",
            "x-real-ip": "2804:14d:54aa:867b:1468:b75e:62ab:bd1a"
          },
          "params": {},
          "query": {},
          "body": {
            "agent_id": "2d58bfaf-d5a3-48ce-9012-4cc1d5eda5d2",
            "session_id": "c819c8a8-bc7d-45cb-bf5b-841bd2aa3783",
            "message": "no gerenciador de anúncios é possível contabilizar os seguidores vindos de anúncios pagos.  já é possível consultar os seguidores vindos de anúncios pagos pela Stract?",
            "history": []
          },
          "webhookUrl": "https://gsouzabd.app.n8n.cloud/webhook/workspace-agent-pap",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OcrReader": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent1": {
      "main": [
        [
          {
            "node": "If Supervisor Decision1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "SupabaseVectorStore1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG Search Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data1": {
      "main": [
        [
          {
            "node": "getAgentConfigs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "SupabaseVectorStore1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "RAG Search Agent1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "RAG Search Agent - retry",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agent Communicator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "RAG Search Agent1": {
      "main": [
        [
          {
            "node": "Agent Communicator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG Search Agent - retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SupabaseVectorStore1": {
      "ai_tool": [
        [
          {
            "node": "RAG Search Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "RAG Search Agent - retry",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getAgentConfigs1": {
      "main": [
        [
          {
            "node": "Check Open Assists Pending1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Open Assists Pending1": {
      "main": [
        [
          {
            "node": "HumanPending?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HumanPending?3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Open Assists InProgress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Open Assists InProgress1": {
      "main": [
        [
          {
            "node": "HumanPending?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HumanPending?2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Supervisor Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio?": {
      "main": [
        [
          {
            "node": "Get Audio File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Principal": {
      "main": [
        [
          {
            "node": "RAG Search Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "DEFINIR MENSAGEM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEFINIR MENSAGEM1": {
      "main": [
        [
          {
            "node": "Mensagem Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio File": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aiNeedsHelp": {
      "main": [
        [
          {
            "node": "Format Response Handoff1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response Handoff1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Supervisor Decision1": {
      "main": [
        [
          {
            "node": "Format Response3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getAgentHandoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImprovementsVectorStoreTool": {
      "ai_tool": [
        [
          {
            "node": "Refiner Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Validation Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response (Refined)": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Improvements Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "ImprovementsVectorStoreTool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "ResponderAudio?": {
      "main": [
        [
          {
            "node": "Eleven Labs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "textResponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Format Final Response (Refined)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "textResponse": {
      "main": [
        [
          {
            "node": "Format Final Response (Refined)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eleven Labs1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Refiner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "RAG Search Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAgentHandoff": {
      "main": [
        [
          {
            "node": "activeHandoff?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "activeHandoff?": {
      "main": [
        [
          {
            "node": "aiNeedsHelp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Search Agent - retry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG Search Agent - retry": {
      "main": [
        [
          {
            "node": "Agent Communicator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagemAgente": {
      "main": [
        [
          {
            "node": "Format Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Refiner Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Validation Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ImprovementsVectorStoreTool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Refiner Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Refiner Agent": {
      "main": [
        [
          {
            "node": "Prepare Validation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Communicator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent Communicator": {
      "main": [
        [
          {
            "node": "mensagemAgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Improvements Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Validation Data": {
      "main": [
        [
          {
            "node": "Validation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Agent": {
      "main": [
        [
          {
            "node": "If Validation Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Validation Decision": {
      "main": [
        [
          {
            "node": "Use Base Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Refined Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Base Response": {
      "main": [
        [
          {
            "node": "ResponderAudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Refined Response": {
      "main": [
        [
          {
            "node": "ResponderAudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Validation": {
      "ai_languageModel": [
        [
          {
            "node": "Validation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca315ec0-6ee5-4540-aa87-0a5cb88b3c3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07ff2d9cfd91f7cdf9966883f8bc777072e99b72e5d3da8541efdae05b3be261"
  },
  "id": "YjZdBWaolELUKRId",
  "tags": []
}