workflow-n8n/[AgentWorkspace] Backend - IA (2).json
{
  "name": "[AgentWorkspace] Backend - IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mag-helper-agent",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2064,
        -512
      ],
      "id": "3361619d-3b93-45fd-b662-3e9d37ac16e4",
      "name": "Webhook",
      "webhookId": "aad39c34-9ea0-427a-99ae-8a363ada5c9d",
      "credentials": {
        "httpBasicAuth": {
          "id": "fiLiIWKGnVoMgpMd",
          "name": "MAG-HELPER-AGENT"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "agent_id",
              "value": "={{ $json.body.agent_id ?? 'e5a4ea22-d5c2-4ef7-9ad0-312eeb6bba95'\n}}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.body.session_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "history",
              "value": "={{ JSON.stringify($json.body.history || []) }}"
            },
            {
              "name": "SUPABASE_FUNCTIONS_URL",
              "value": "https://bdhhqafyqyamcejkufxf.supabase.co"
            },
            {
          "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkaGhxYWZ5cXlhbWNlamt1ZnhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzMTkzMzUsImV4cCI6MjA3Njg5NTMzNX0.FH5j2uCOc2wDIXFu6ByJJBTL9dmiSMbefTtM7va7dfE"
            }
          ]
        },
        "options": {}
      },
      "id": "e8f28627-9fce-423e-964c-86ff5fcc9180",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1792,
        -512
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.response, \"session_id\": $json.session_id } }}",
        "options": {}
      },
      "id": "97c1fba4-53f3-4139-b832-56109964c4c0",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -640,
        -160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Data').item.json.body.message }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}\n\n## REGRAS PRIMORDIAIS\n— Antes de responder a qualquer pergunta, consulte a base: Use a ferramenta **SupabaseVectorStore** para buscar informações na knowledge base.\n\n- Quando nao houver informaçao na base de conhecimento (SupabaseVectorStore) Use a ferramenta **aiNeedsHelp**  para chamar um atendente humano. Jamais, em hipótese algum, invente uma informaçao que nao tem embasamento na base de conhecimento (SupabaseVectorStore).\n\nContexto recente (inclusive intervenções humanas):\n{{ $('Build History').item.json.historyText }}\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1488,
        -64
      ],
      "id": "039dd928-d9c4-4f90-99ff-c5ab0f3a42f8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data').item.json.body.session_id }}",
        "contextWindowLength": -1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1936,
        0
      ],
      "id": "b329140b-ed88-40d0-a55c-8df8b59c733b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2032,
        16
      ],
      "id": "4783950f-9258-4589-af5a-cd471a5ad4a8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.agent_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1824,
        -272
      ],
      "id": "98e4e46c-d2b3-4bbe-a458-14a646bdc499",
      "name": "getAgentConfigs",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1904,
        256
      ],
      "id": "5f1ce555-50c9-4334-862b-64868c34c940",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $json.output }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data').item.json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20839881-5b70-468b-a326-3b0a3092e3d9",
      "name": "Format Response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -880,
        -64
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "knowledge_documents",
          "mode": "list",
          "cachedResultName": "knowledge_documents"
        },
        "options": {
          "queryName": "match_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "agent_id",
                "value": "={{ $('Extract Data').item.json.body.agent_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1856,
        128
      ],
      "id": "f9e0c187-56d8-4146-b3db-902fa24938fe",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1552,
        128
      ],
      "id": "e2988924-9de1-4571-93a2-afa7e39d9c01",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "topK": 20
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -1840,
        -32
      ],
      "id": "b0d023fb-dc77-4172-bfab-cf83c7463194",
      "name": "SupabaseVectorStore"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Data').item.json.body.message }}",
        "options": {
          "systemMessage": "Você é um supervisor. Siga estritamente:\n1) Consulte primeiro a base usando a tool \"SupabaseVectorStore\".\n2) Se a base não tiver contexto suficiente ou não retornar resultados relevantes, retorne HANDOFF\n3) Após executar as tools, responda SOMENTE com uma destas strings:\n- PROCEED (se a base for suficiente)\n- HANDOFF (se nao for suficiente)\nNunca responda ao usuário final, não explique seus passos.\n\nContexto recente (inclusive intervenções humanas):\n{{ $('Build History').item.json.historyText }}\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1632,
        -272
      ],
      "id": "454207ba-4b0c-4ac1-b2f5-befb6d551717",
      "name": "Supervisor Agent"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "value2": "PROCEED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1232,
        -272
      ],
      "id": "a09eccf8-1a1a-465d-b9b4-df27c25eef07",
      "name": "If Supervisor Decision"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Vou acionar um atendente humano para te ajudar com essa informação."
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data').item.json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a8d716ec-d50f-4eb1-aa66-6873a9a7053c",
      "name": "Format Response Handoff",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -880,
        -256
      ]
    },
    {
      "parameters": {
        "content": "## [AgentWorkspace] Backend - IA\n",
        "height": 1056,
        "width": 1744,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2144,
        -624
      ],
      "typeVersion": 1,
      "id": "3964c396-002d-48a4-93d6-c6c546f6b9f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{  ($('Extract Data').item.json.SUPABASE_FUNCTIONS_URL + '/functions/v1') + '/human-assist' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Data').item.json[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "={{ $('Extract Data').item.json.body.agent_id }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data').item.json.body.session_id }}"
            },
            {
              "name": "user_message",
              "value": "={{ $('Extract Data').item.json.body.message }}"
            },
            {
              "name": " ai_message",
              "value": "Só um momento enquanto verifico essa informação."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        -256
      ],
      "id": "788fc664-7738-4dc7-82fe-b78c5485345e",
      "name": "aiNeedsHelp1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "human_assist_requests",
        "filters": {
          "conditions": [
            { "keyName": "agent_id", "keyValue": "={{ $json.body.agent_id }}" },
            { "keyName": "session_id", "keyValue": "={{ $json.body.session_id }}" },
            { "keyName": "status", "keyValue": "pending" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ -1712, -272 ],
      "id": "9f5e7b6b-0d8f-47f5-9c3b-8d2c8a7e9a11",
      "name": "Check Open Assists Pending",
      "credentials": { "supabaseApi": { "id": "EOGJkdSrjuR27Pf6", "name": "[PAP][mag] SUPABASE" } }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "human_assist_requests",
        "filters": {
          "conditions": [
            { "keyName": "agent_id", "keyValue": "={{ $json.body.agent_id }}" },
            { "keyName": "session_id", "keyValue": "={{ $json.body.session_id }}" },
            { "keyName": "status", "keyValue": "in_progress" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ -1568, -272 ],
      "id": "d0a4a2d1-2d7c-4f3e-bf9e-3d3c7b6e2c22",
      "name": "Check Open Assists InProgress",
      "credentials": { "supabaseApi": { "id": "EOGJkdSrjuR27Pf6", "name": "[PAP][mag] SUPABASE" } }
    },
    {
      "parameters": {
        "values": { "string": [ { "name": "assistOpen", "value": "={{ ( $items(\\\"Check Open Assists Pending\\\").length > 0 || $items(\\\"Check Open Assists InProgress\\\").length > 0 ) ? 'yes' : 'no' }}" } ] },
        "options": {}
      },
      "id": "a2a5b3f8-1f6e-4a28-9b0a-6e7f5b2c3d44",
      "name": "Calc Assist Gate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [ -1408, -272 ]
    },
    {
      "parameters": {
        "conditions": { "string": [ { "value1": "={{ $json.assistOpen }}", "value2": "yes" } ] }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [ -1264, -272 ],
      "id": "b7c9f2a1-9b0d-4a6e-8f1b-3c2d1e4f5a66",
      "name": "If Assist Open"
    },
    {
      "parameters": {
        "values": { "string": [
          { "name": "response", "value": "Um atendente humano está atendendo agora." },
          { "name": "session_id", "value": "={{ $('Extract Data').item.json.body.session_id }}" }
        ] },
        "options": {}
      },
      "id": "c4d5e6f7-8a9b-4c0d-b1a2-3e4f5a6b7c88",
      "name": "Format Response HumanTakingOver",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [ -1072, -336 ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "chat_messages",
        "filters": { "conditions": [ { "keyName": "session_id", "keyValue": "={{ $json.body.session_id }}" } ] }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ -1072, -192 ],
      "id": "e1f2a3b4-c5d6-4e7f-8a9b-0c1d2e3f4a55",
      "name": "Fetch Chat History",
      "credentials": { "supabaseApi": { "id": "EOGJkdSrjuR27Pf6", "name": "[PAP][mag] SUPABASE" } }
    },
    {
      "parameters": {
        "values": { "string": [ { "name": "historyText", "value": "={{ $('Fetch Chat History').all().map(i => `[${i.json.role === 'human' ? 'assistant' : i.json.role}] ${i.json.content}`).join('\\n') }}" } ] },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-4f2a-93b4-5c6d7e8f9a00",
      "name": "Build History",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [ -928, -192 ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "gsouzabd.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "672",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "authorization": "Basic cGFwcmljYTpiZGhocWFmeXF5YW1jZWprdWZ4Zg==",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "187.19.243.43",
            "cf-ew-via": "15",
            "cf-ipcountry": "BR",
            "cf-ray": "996f13ac62fedc24-JDO",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "http://localhost:5173",
            "priority": "u=1, i",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "187.19.243.43, 172.70.193.134",
            "x-forwarded-host": "gsouzabd.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-87-bcb9f59f7-tfbjj",
            "x-is-trusted": "yes",
            "x-real-ip": "187.19.243.43"
          },
          "params": {},
          "query": {},
          "body": {
            "agent_id": "2d58bfaf-d5a3-48ce-9012-4cc1d5eda5d2",
            "session_id": "ed0296d7-d24b-4c0d-b464-8628fa3f3920",
            "message": "site da stract?",
            "history": [
              {
                "role": "user",
                "content": "opa"
              },
              {
                "role": "assistant",
                "content": "Olá! Como posso ajudar você hoje?"
              },
              {
                "role": "user",
                "content": "limite do google"
              },
              {
                "role": "assistant",
                "content": "O Google Sheets possui um limite de aproximadamente 4 minutos para a execução de extrações feitas pela sidebar da Stract quando a planilha está aberta. Caso a consulta demore mais que isso, é recomendado agendar a extração, pois nesse cenário o limite de tempo não se aplica quando a Stract escreve diretamente na planilha via agendamento."
              }
            ]
          },
          "webhookUrl": "https://gsouzabd.app.n8n.cloud/webhook/mag-helper-agent",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Extract Data": {
      "main": [
        [
          {
            "node": "getAgentConfigs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Supervisor Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "getAgentConfigs": {
      "main": [
        [
          { "node": "Check Open Assists Pending", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Open Assists Pending": {
      "main": [
        [
          { "node": "Check Open Assists InProgress", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Open Assists InProgress": {
      "main": [
        [
          { "node": "Calc Assist Gate", "type": "main", "index": 0 }
        ]
      ]
    },
    "Calc Assist Gate": {
      "main": [
        [
          { "node": "If Assist Open", "type": "main", "index": 0 }
        ]
      ]
    },
    "If Assist Open": {
      "main": [
        [
          { "node": "Format Response HumanTakingOver", "type": "main", "index": 0 }
        ],
        [
          { "node": "Fetch Chat History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Response HumanTakingOver": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Chat History": {
      "main": [
        [
          { "node": "Build History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build History": {
      "main": [
        [
          { "node": "Supervisor Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Format Response1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response Handoff": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "SupabaseVectorStore",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "SupabaseVectorStore",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SupabaseVectorStore": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent": {
      "main": [
        [
          {
            "node": "If Supervisor Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Supervisor Decision": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aiNeedsHelp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aiNeedsHelp1": {
      "main": [
        [
          {
            "node": "Format Response Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6017eed2-8185-4acb-9751-9a91fc392971",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07ff2d9cfd91f7cdf9966883f8bc777072e99b72e5d3da8541efdae05b3be261"
  },
  "id": "YjZdBWaolELUKRId",
  "tags": []
}