workflow-n8n/[AgentWorkspace] Backend - IA (7).json
{
  "name": "[AgentWorkspace] Backend - IA",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const sessionId = $('Extract Data1').first().json.body.session_id;\n\nlet response = $input.first().json.output;\n\n\nreturn [{ response, session_id: sessionId }];"
      },
      "id": "100eb3be-cad7-4892-bdb2-c0b01075e8f9",
      "name": "Format Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        3872
      ]
    },
    {
      "parameters": {
        "content": "## [AgentWorkspace] Backend - IA [MAG]\n",
        "height": 1056,
        "width": 2304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        3136
      ],
      "typeVersion": 1,
      "id": "8e4403d4-3238-4387-a492-96d8b2d1d218",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('getAgentConfigs1').item.json.template_type }}",
              "value2": "table_booking"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1584,
        3696
      ],
      "id": "f809fef4-3b6f-41c2-ac21-db64d5d846e5",
      "name": "If Template TableBooking1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -304,
        3216
      ],
      "id": "720e9bee-ad70-4fc2-82cb-c1360ea89fa6",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bf74cd8-8ec4-4dae-bf9a-7b1e5c99f169",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1f45332f-cd18-4e45-988e-94fa3a8ec934",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=in_progress",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        3216
      ],
      "id": "c0e7f8ee-2fe1-4a37-bb48-c35903afd317",
      "name": "HumanPending?2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bf74cd8-8ec4-4dae-bf9a-7b1e5c99f169",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1f45332f-cd18-4e45-988e-94fa3a8ec934",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        3216
      ],
      "id": "99710a12-3dd7-482e-830a-89a66dbb92c0",
      "name": "HumanPending?3"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "human_assist_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "agent_id",
              "keyValue": "={{ $('Extract Data1').item.json.body.agent_id }}"
            },
            {
              "keyName": "session_id",
              "keyValue": "={{ $('Extract Data1').item.json.body.session_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "in_progress"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -912,
        3216
      ],
      "id": "fa2e686d-9f97-46f0-aa23-967c1761477f",
      "name": "Check Open Assists InProgress1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "human_assist_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "agent_id",
              "keyValue": "={{ $('Extract Data1').item.json.body.agent_id }}"
            },
            {
              "keyName": "session_id",
              "keyValue": "={{ $('Extract Data1').item.json.body.session_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        3216
      ],
      "id": "9903262c-0a5c-4c76-ba0a-05fd1a4e182b",
      "name": "Check Open Assists Pending1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "BvddCSLvY0QFxU46",
          "name": "[Gabriel[ Supa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{  ($('Extract Data1').item.json.SUPABASE_FUNCTIONS_URL + '/functions/v1') + '/human-assist' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Data1').item.json[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "={{ $('Extract Data1').item.json.body.agent_id }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data1').item.json.body.session_id }}"
            },
            {
              "name": "user_message",
              "value": "={{ $('Extract Data1').item.json.body.message }}"
            },
            {
              "name": " ai_message",
              "value": "Só um momento enquanto verifico essa informação."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        3584
      ],
      "id": "c170e63d-cf29-4f10-9f77-e8eaf2c632f7",
      "name": "aiNeedsHelp"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Aguarda só um momento enquanto verifico essa Informação para você."
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data1').item.json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f7d9b1ca-f64b-4f1a-b13c-34657b785720",
      "name": "Format Response Handoff1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1232,
        3584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "value2": "PROCEED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        656,
        3728
      ],
      "id": "e831172e-8352-433e-84b1-ed4897f65e69",
      "name": "If Supervisor Decision1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Data1').item.json.body.message }}",
        "options": {
          "systemMessage": "Você é um agente especializado em busca e recuperação de informações (RAG). Sua única função é:\n\n1) Receber a query do usuário\n2) Usar a tool \"SupabaseVectorStore\" para buscar informações relevantes na base de conhecimento vetorizada\n3) Analisar a relevância dos resultados usando metadatas (tags, document_description, usage_context)\n4) Retornar APENAS um contexto formatado e estruturado para o agente comunicador\n\nIMPORTANTE:\n- Você NÃO responde ao usuário final\n- Você NÃO explica seus passos\n- Você DEVE usar a tool \"SupabaseVectorStore\" com a query do usuário\n- Após usar a tool, você retorna SOMENTE o contexto enriquecido no formato EXATO: \"CONTEXT: [contexto consolidado dos documentos relevantes]\"\n- Se não encontrar informações relevantes, retorne: \"CONTEXT: [nenhum documento relevante encontrado]\"\n- Use as metadatas (tags, descriptions) para melhorar a relevância da busca\n- NUNCA ignore os resultados da tool - sempre use os documentos retornados para construir o contexto\n- O contexto deve incluir TODAS as informações relevantes encontradas nos documentos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -464,
        3408
      ],
      "id": "ca5ca04f-c303-4d1b-aeaf-35efb46467fb",
      "name": "RAG Search Agent1"
    },
    {
      "parameters": {
        "jsCode": "// Formatar resposta do RAG Search Agent para passar ao AI Agent\nconst inputData = $input.first().json;\nconst agentOutput = inputData.output || inputData.text || '';\nconst originalMessage = $('Extract Data1').first().json.body.message;\n\n// Função auxiliar para extrair documentos de diferentes formatos\nfunction extractDocuments(data) {\n  if (!data) return [];\n  \n  // Formato 1: toolResult.documents (array direto)\n  if (data.documents && Array.isArray(data.documents)) {\n    return data.documents;\n  }\n  \n  // Formato 2: toolResult (string JSON ou objeto)\n  if (data.toolResult) {\n    try {\n      const toolData = typeof data.toolResult === 'string' ? JSON.parse(data.toolResult) : data.toolResult;\n      if (toolData.documents && Array.isArray(toolData.documents)) {\n        return toolData.documents;\n      }\n      if (toolData.context) {\n        return [{ content: toolData.context }];\n      }\n    } catch (e) {\n      // Não é JSON, continuar\n    }\n  }\n  \n  // Formato 3: toolCalls (array de chamadas de tools)\n  if (data.toolCalls && Array.isArray(data.toolCalls)) {\n    const allDocs = [];\n    for (const toolCall of data.toolCalls) {\n      if (toolCall.toolResult) {\n        try {\n          const result = typeof toolCall.toolResult === 'string' ? JSON.parse(toolCall.toolResult) : toolCall.toolResult;\n          if (result.documents && Array.isArray(result.documents)) {\n            allDocs.push(...result.documents);\n          } else if (result.content) {\n            allDocs.push({ content: result.content });\n          }\n        } catch (e) {\n          // Continuar\n        }\n      }\n    }\n    if (allDocs.length > 0) return allDocs;\n  }\n  \n  // Formato 4: output direto com documentos\n  if (Array.isArray(data)) {\n    return data.filter(item => item.content || item.pageContent);\n  }\n  \n  return [];\n}\n\n// Extrair contexto do output do agente (formato: \"CONTEXT: [contexto]\")\nlet context = '';\nif (agentOutput.includes('CONTEXT:')) {\n  const contextMatch = agentOutput.match(/CONTEXT:\\s*(.+)/s);\n  if (contextMatch) {\n    context = contextMatch[1].trim();\n  }\n} else if (agentOutput.includes('nenhum documento relevante') || agentOutput.toLowerCase().includes('no relevant')) {\n  context = 'Nenhum documento relevante encontrado na base de conhecimento.';\n}\n\n// Se não encontrou contexto no output, tentar buscar de tool calls\nif (!context || context.includes('nenhum') || context.length < 10) {\n  // Tentar extrair documentos diretamente\n  const documents = extractDocuments(inputData);\n  \n  if (documents && documents.length > 0) {\n    context = documents\n      .map(doc => {\n        let docText = doc.content || doc.pageContent || '';\n        if (doc.metadata && doc.metadata.document_description) {\n          docText = `[${doc.metadata.document_description}]\\n${docText}`;\n        } else if (doc.document_description) {\n          docText = `[${doc.document_description}]\\n${docText}`;\n        }\n        return docText;\n      })\n      .filter(text => text && text.trim().length > 0)\n      .join('\\n\\n---\\n\\n');\n  } else {\n    // Tentar buscar do tool result se disponível\n    const toolResult = inputData.toolResult || inputData;\n    if (toolResult && typeof toolResult === 'object') {\n      if (toolResult.context && typeof toolResult.context === 'string') {\n        context = toolResult.context;\n      } else if (toolResult.documents && Array.isArray(toolResult.documents) && toolResult.documents.length > 0) {\n        context = toolResult.documents\n          .map(doc => {\n            let docText = doc.content || doc.pageContent || '';\n            if (doc.document_description) {\n              docText = `[${doc.document_description}]\\n${docText}`;\n            }\n            return docText;\n          })\n          .join('\\n\\n---\\n\\n');\n      }\n    }\n  }\n}\n\n// Truncamento de segurança para evitar \"Request too large\"\n// Limite: 12000 caracteres (~3000 tokens)\nconst MAX_CONTEXT_CHARS = 12000;\nlet wasTruncated = false;\nif (context && context.length > MAX_CONTEXT_CHARS) {\n  context = context.substring(0, MAX_CONTEXT_CHARS) + '... [contexto truncado para evitar exceder limite de tokens]';\n  wasTruncated = true;\n  console.log(`⚠️ Contexto RAG truncado de ${context.length} para ${MAX_CONTEXT_CHARS} caracteres`);\n}\n\n// Preparar dados para o AI Agent\nreturn [{\n  message: originalMessage,\n  rag_context: context || 'Nenhum documento relevante encontrado na base de conhecimento.',\n  session_id: $('Extract Data1').first().json.body.session_id,\n  agent_id: $('Extract Data1').first().json.body.agent_id,\n  response_format: $('Extract Data1').first().json.body.response_format || 'text',\n  context_truncated: wasTruncated\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        3728
      ],
      "id": "c6aacd9a-4f15-4775-ab0d-59cc8f0fe753",
      "name": "Format RAG Context1"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "knowledge_documents",
          "mode": "list",
          "cachedResultName": "knowledge_documents"
        },
        "options": {
          "queryName": "match_knowledge_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "=agent_id",
                "value": "={{ $('Extract Data1').first().json.agent_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -288,
        3840
      ],
      "id": "2f939d53-e81b-4638-bb8f-1d4b804c088a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        4048
      ],
      "id": "d18eae4a-923a-4df1-a9e3-eea27707d428",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.agent_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1808,
        3696
      ],
      "id": "868a6bca-1ced-4447-9f16-ead239845440",
      "name": "getAgentConfigs1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -416,
        3840
      ],
      "id": "747bff82-1495-4664-8e9c-14fa62fc131f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data1').item.json.body.session_id }}",
        "contextWindowLength": -1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        960,
        4096
      ],
      "id": "033f79e1-2b83-4828-a9f6-f9091dfe0226",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Data1').item.json.message }}",
        "options": {
          "systemMessage": "={{ $('getAgentConfigs1').item.json.system_prompt }}\n\n## REGRAS PRIMORDIAIS\n— Use o contexto RAG fornecido para responder. O contexto já foi preparado por um agente especializado em busca:\n\n**CONTEXTO DA BASE DE CONHECIMENTO:**\n{{ $('Format RAG Context1').item.json.rag_context }}\n\n— Base sua resposta APENAS no contexto fornecido acima. Se o contexto não contiver informações suficientes, informe isso ao usuário.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        880,
        3872
      ],
      "id": "c12334e9-d86d-4dda-8d4a-56dc8163e2db",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.response, \"session_id\": $json.session_id } }}",
        "options": {}
      },
      "id": "d5d93f99-be6b-4218-b11b-c7a474df6af6",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1456,
        3872
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "agent_id",
              "value": "={{ $json.body.agent_id ?? 'e5a4ea22-d5c2-4ef7-9ad0-312eeb6bba95'\n}}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.body.session_id ?? 'teste 123'}}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "history",
              "value": "={{ JSON.stringify($json.body.history || []) }}"
            },
            {
              "name": "response_format",
              "value": "={{ $json.body.response_format ?? 'text' }}"
            },
            {
              "name": "SUPABASE_FUNCTIONS_URL",
              "value": "https://bdhhqafyqyamcejkufxf.supabase.co"
            },
            {
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkaGhxYWZ5cXlhbWNlamt1ZnhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTMxOTMzNSwiZXhwIjoyMDc2ODk1MzM1fQ.IpnH7ZfuL3bQSR4LgE3pRyJV_XR-zdRqiyiXMOdCNKA"
            }
          ]
        },
        "options": {}
      },
      "id": "542d8a24-b4d9-4ccc-aa3e-7b34bf78645f",
      "name": "Extract Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -2032,
        3696
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workspace-agent-pap",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2256,
        3696
      ],
      "id": "50e5324c-9bf7-4337-be7f-0a614c7adc1b",
      "name": "Webhook1",
      "webhookId": "aad39c34-9ea0-427a-99ae-8a363ada5c9d",
      "credentials": {
        "httpBasicAuth": {
          "id": "fiLiIWKGnVoMgpMd",
          "name": "Worskpace-Agent"
        }
      }
    },
    {
      "parameters": {
        "description": "Informações gerais para perguntas e respostas",
        "topK": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -288,
        3632
      ],
      "id": "6093d627-e62e-4c0f-9d05-ca91ddec6a61",
      "name": "SupabaseVectorStore1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Mensagem do user:\n{{ $('Extract Data1').item.json.body.message }}\n\n## Contexto Rag:\n{{ $json.rag_context }}",
        "options": {
          "systemMessage": "=Você é um supervisor. Siga estritamente:\n\n\n1) Consulte primeiro o input, se for uma saudação qualquer ou pergunta aleatória (oi, olá, tudo bme?, boa noite, bom dia), retorne PROCEED.\n\n2) Consulte o contexto retornado pelo rag. Se a consulta tiver contexto suficiente relevantes para o input do usuário, retorne PROCEED\n3) Se a consulta não tiver contexto suficiente ou não retornar resultados relevantes para o input do usuário, retorne HANDOFF\n4) Após executar as tools, responda SOMENTE com uma destas strings:\n- PROCEED (se a base for suficiente)\n- HANDOFF (se nao for suficiente)\nNunca responda ao usuário final, não explique seus passos.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        304,
        3728
      ],
      "id": "2b44763e-ca00-4d8b-a72a-d2ac7863101f",
      "name": "Supervisor Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Format Response3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Template TableBooking1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Open Assists Pending1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HumanPending?2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG Search Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HumanPending?3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Open Assists InProgress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Open Assists InProgress1": {
      "main": [
        [
          {
            "node": "HumanPending?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Open Assists Pending1": {
      "main": [
        [
          {
            "node": "HumanPending?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aiNeedsHelp": {
      "main": [
        [
          {
            "node": "Format Response Handoff1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response Handoff1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Supervisor Decision1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aiNeedsHelp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Context1": {
      "main": [
        [
          {
            "node": "Supervisor Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "SupabaseVectorStore1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "getAgentConfigs1": {
      "main": [
        [
          {
            "node": "If Template TableBooking1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "SupabaseVectorStore1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG Search Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Supervisor Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Format Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data1": {
      "main": [
        [
          {
            "node": "getAgentConfigs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SupabaseVectorStore1": {
      "ai_tool": [
        [
          {
            "node": "RAG Search Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RAG Search Agent1": {
      "main": [
        [
          {
            "node": "Format RAG Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent1": {
      "main": [
        [
          {
            "node": "If Supervisor Decision1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f976619a-4417-4fac-9f46-332583f96145",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07ff2d9cfd91f7cdf9966883f8bc777072e99b72e5d3da8541efdae05b3be261"
  },
  "id": "YjZdBWaolELUKRId",
  "tags": []
}