workflow-n8n/[AgentWorkspace] Backend - IA (8).json
{
  "name": "[AgentWorkspace] Backend - IA",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/<__PLACEHOLDER_VALUE__Phone Number ID__>/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer <__PLACEHOLDER_VALUE__WhatsApp Access Token__>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"<__PLACEHOLDER_VALUE__Recipient Phone Number__>\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"<__PLACEHOLDER_VALUE__Message Text__>\"\n  }\n}",
        "options": {}
      },
      "id": "6f527229-ba7f-4366-be0c-f87f08cc4d38",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        6336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-worskpace-ocrreader",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2256,
        6112
      ],
      "id": "0b067b78-bd1a-4a51-9941-db77d2491534",
      "name": "OcrReader",
      "webhookId": "5755a173-2207-475a-bc2e-e2e0119ca4fc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ijbxQ3MEhtE9Pv8213fdG8p9VErdqPCq"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.body.document_url }}\"\n  },\n  \"include_image_base64\": true\n} ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2032,
        6112
      ],
      "id": "210169ce-cc45-41fb-8df2-bd1c5859200f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1584,
        6112
      ],
      "id": "c0042189-48d1-4bcd-8948-48f0928ebf45",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "// Code node\nreturn $json.pages.map(page => ({\n  markdown: page.markdown\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        6112
      ],
      "id": "f098e639-049d-4a1c-9608-004c9b688202",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const sessionId = $('Extract Data1').first().json.body.session_id;\n\nlet response = $('RAG Search Agent1').first().json.output\n\n\nreturn [{ response, session_id: sessionId }];"
      },
      "id": "65dcdf1f-a453-4f5f-a1c6-8bb7b06a0dd5",
      "name": "Format Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        4064
      ]
    },
    {
      "parameters": {
        "content": "## [AgentWorkspace] Backend - IA [MAG]\n",
        "height": 1056,
        "width": 2304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1376,
        3104
      ],
      "typeVersion": 1,
      "id": "f7da75f1-b475-4e23-a37f-061fd8a4be55",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -224,
        3184
      ],
      "id": "508ab033-7b5d-46ac-8857-161598284067",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bf74cd8-8ec4-4dae-bf9a-7b1e5c99f169",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1f45332f-cd18-4e45-988e-94fa3a8ec934",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=in_progress",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        3184
      ],
      "id": "c2380434-59f1-4ed2-b750-b34884b230fd",
      "name": "HumanPending?2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bf74cd8-8ec4-4dae-bf9a-7b1e5c99f169",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "1f45332f-cd18-4e45-988e-94fa3a8ec934",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        3184
      ],
      "id": "4f317897-40f1-4648-aded-d5c50922eb09",
      "name": "HumanPending?3"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "human_assist_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "agent_id",
              "keyValue": "={{ $('Extract Data1').item.json.body.agent_id }}"
            },
            {
              "keyName": "session_id",
              "keyValue": "={{ $('Extract Data1').item.json.body.session_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "in_progress"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        3184
      ],
      "id": "ea7bcf88-c40e-45d1-af5a-daffa37ea640",
      "name": "Check Open Assists InProgress1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "human_assist_requests",
        "filters": {
          "conditions": [
            {
              "keyName": "agent_id",
              "keyValue": "={{ $('Extract Data1').item.json.body.agent_id }}"
            },
            {
              "keyName": "session_id",
              "keyValue": "={{ $('Extract Data1').item.json.body.session_id }}"
            },
            {
              "keyName": "status",
              "keyValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1280,
        3184
      ],
      "id": "ec4caad3-b9dc-4509-bcb9-b2e5d1834aeb",
      "name": "Check Open Assists Pending1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "BvddCSLvY0QFxU46",
          "name": "[Gabriel[ Supa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{  ($('Extract Data1').item.json.SUPABASE_FUNCTIONS_URL + '/functions/v1') + '/human-assist' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Extract Data1').item.json[\"SUPABASE_SERVICE_ROLE_KEY\"] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "={{ $('Extract Data1').item.json.body.agent_id }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data1').item.json.body.session_id }}"
            },
            {
              "name": "user_message",
              "value": "={{ $('Extract Data1').item.json.body.message }}"
            },
            {
              "name": " ai_message",
              "value": "Só um momento enquanto verifico essa informação."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        3552
      ],
      "id": "1fd97dd1-4be3-454b-9f93-437cab3437ec",
      "name": "aiNeedsHelp"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "Aguarda só um momento enquanto verifico essa Informação para você."
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data1').item.json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a7129f6-59a5-432a-977a-e46e68e73355",
      "name": "Format Response Handoff1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1312,
        3552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.output }}",
              "value2": "PROCEED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        736,
        3696
      ],
      "id": "467dc3db-ee05-472e-987f-822d005283d0",
      "name": "If Supervisor Decision1"
    },
    {
      "parameters": {
        "description": "Melhorias instruídas específicas do agente",
        "topK": "=3"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        704,
        3984
      ],
      "id": "d2a3b0b8-4c6d-4a6a-bf21-9c4f1f2a1c9a",
      "name": "ImprovementsVectorStoreTool"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "agent_improvements",
          "mode": "list",
          "cachedResultName": "agent_improvements"
        },
        "options": {
          "queryName": "match_agent_improvements",
          "metadata": {
            "metadataValues": [
              {
                "name": "=agent_id",
                "value": "={{ $('Extract Data1').first().json.body.agent_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        512,
        4080
      ],
      "id": "c6f5b2ef-1ea1-45c5-83d5-3a0f9c2b6d55",
      "name": "Improvements Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Query do usuário\n{{ $('Extract Data1').first().json.body.message }}\n\n## Resposta base\n{{ $json.response || $json.output || '' }}\n\n## Instruções:\nUse as melhorias encontradas (se houver) para refinar a resposta base. Se nenhuma melhoria for claramente relevante, mantenha a resposta base. Seja conciso e direto.",
        "options": {
          "systemMessage": "=Você é um Refiner Agent. Reescreva a resposta base incorporando APENAS melhorias realmente relevantes recuperadas pelo tool 'ImprovementsVectorStoreTool'. Se não houver melhorias relevantes, devolva exatamente a resposta base. Não explique seu processo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1056,
        3984
      ],
      "id": "bde0f8a8-3a9c-4a2b-9b4f-7fbd2d1c2c3e",
      "name": "Refiner Agent"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $json.output || $json.text || $json.response }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Extract Data1').item.json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2d8f9c1-4b5e-4a1f-8e71-8f43a3c2b1a0",
      "name": "Format Final Response (Refined)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1296,
        3984
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Data1').first().json.body.message }}",
        "options": {
          "systemMessage": "={{ $('getAgentConfigs1').first().json.system_prompt }}\n\n## REGRAS PRIMORDIAIS\n\n— Base sua resposta APENAS no contexto fornecido acima. Se o contexto não contiver informações suficientes, informe isso ao usuário.\n\n\n1) Receber a query do usuário\n2) Usar a tool \"SupabaseVectorStore\" para buscar informações relevantes na base de conhecimento vetorizada\n\nIMPORTANTE:\n- Você NÃO responde ao usuário final\n- Você NÃO explica seus passos\n- Você DEVE usar a tool \"SupabaseVectorStore\" com a query do usuário\n- Se não encontrar informações relevantes, retorne: \" [nenhum documento relevante encontrado]\"\n- Use as metadatas (tags, descriptions) para melhorar a relevância da busca\n- NUNCA ignore os resultados da tool - sempre use os documentos retornados para construir o contexto\n- O contexto deve incluir TODAS as informações relevantes encontradas nos documentos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -384,
        3376
      ],
      "id": "fa2dfaba-69d0-4e50-9202-639e6b2468b0",
      "name": "RAG Search Agent1"
    },
    {
      "parameters": {
        "jsCode": "// Formatar resposta do RAG Search Agent para passar ao AI Agent\nconst inputData = $input.first().json;\nconst agentOutput = inputData.output || inputData.text || '';\nconst originalMessage = $('Extract Data1').first().json.body.message;\n\n// Função auxiliar para extrair documentos de diferentes formatos\nfunction extractDocuments(data) {\n  if (!data) return [];\n  \n  // Formato 1: toolResult.documents (array direto)\n  if (data.documents && Array.isArray(data.documents)) {\n    return data.documents;\n  }\n  \n  // Formato 2: toolResult (string JSON ou objeto)\n  if (data.toolResult) {\n    try {\n      const toolData = typeof data.toolResult === 'string' ? JSON.parse(data.toolResult) : data.toolResult;\n      if (toolData.documents && Array.isArray(toolData.documents)) {\n        return toolData.documents;\n      }\n      if (toolData.context) {\n        return [{ content: toolData.context }];\n      }\n    } catch (e) {\n      // Não é JSON, continuar\n    }\n  }\n  \n  // Formato 3: toolCalls (array de chamadas de tools)\n  if (data.toolCalls && Array.isArray(data.toolCalls)) {\n    const allDocs = [];\n    for (const toolCall of data.toolCalls) {\n      if (toolCall.toolResult) {\n        try {\n          const result = typeof toolCall.toolResult === 'string' ? JSON.parse(toolCall.toolResult) : toolCall.toolResult;\n          if (result.documents && Array.isArray(result.documents)) {\n            allDocs.push(...result.documents);\n          } else if (result.content) {\n            allDocs.push({ content: result.content });\n          }\n        } catch (e) {\n          // Continuar\n        }\n      }\n    }\n    if (allDocs.length > 0) return allDocs;\n  }\n  \n  // Formato 4: output direto com documentos\n  if (Array.isArray(data)) {\n    return data.filter(item => item.content || item.pageContent);\n  }\n  \n  return [];\n}\n\n// Extrair contexto do output do agente (formato: \"CONTEXT: [contexto]\")\nlet context = '';\nif (agentOutput.includes('CONTEXT:')) {\n  const contextMatch = agentOutput.match(/CONTEXT:\\s*(.+)/s);\n  if (contextMatch) {\n    context = contextMatch[1].trim();\n  }\n} else if (agentOutput.includes('nenhum documento relevante') || agentOutput.toLowerCase().includes('no relevant')) {\n  context = 'Nenhum documento relevante encontrado na base de conhecimento.';\n}\n\n// Se não encontrou contexto no output, tentar buscar de tool calls\nif (!context || context.includes('nenhum') || context.length < 10) {\n  // Tentar extrair documentos diretamente\n  const documents = extractDocuments(inputData);\n  \n  if (documents && documents.length > 0) {\n    context = documents\n      .map(doc => {\n        let docText = doc.content || doc.pageContent || '';\n        if (doc.metadata && doc.metadata.document_description) {\n          docText = `[${doc.metadata.document_description}]\\n${docText}`;\n        } else if (doc.document_description) {\n          docText = `[${doc.document_description}]\\n${docText}`;\n        }\n        return docText;\n      })\n      .filter(text => text && text.trim().length > 0)\n      .join('\\n\\n---\\n\\n');\n  } else {\n    // Tentar buscar do tool result se disponível\n    const toolResult = inputData.toolResult || inputData;\n    if (toolResult && typeof toolResult === 'object') {\n      if (toolResult.context && typeof toolResult.context === 'string') {\n        context = toolResult.context;\n      } else if (toolResult.documents && Array.isArray(toolResult.documents) && toolResult.documents.length > 0) {\n        context = toolResult.documents\n          .map(doc => {\n            let docText = doc.content || doc.pageContent || '';\n            if (doc.document_description) {\n              docText = `[${doc.document_description}]\\n${docText}`;\n            }\n            return docText;\n          })\n          .join('\\n\\n---\\n\\n');\n      }\n    }\n  }\n}\n\n// Truncamento de segurança para evitar \"Request too large\"\n// Limite: 12000 caracteres (~3000 tokens)\nconst MAX_CONTEXT_CHARS = 12000;\nlet wasTruncated = false;\nif (context && context.length > MAX_CONTEXT_CHARS) {\n  context = context.substring(0, MAX_CONTEXT_CHARS) + '... [contexto truncado para evitar exceder limite de tokens]';\n  wasTruncated = true;\n  console.log(`⚠️ Contexto RAG truncado de ${context.length} para ${MAX_CONTEXT_CHARS} caracteres`);\n}\n\n// Preparar dados para o AI Agent\nreturn [{\n  message: originalMessage,\n  rag_context: context || 'Nenhum documento relevante encontrado na base de conhecimento.',\n  session_id: $('Extract Data1').first().json.body.session_id,\n  agent_id: $('Extract Data1').first().json.body.agent_id,\n  response_format: $('Extract Data1').first().json.body.response_format || 'text',\n  context_truncated: wasTruncated\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        3696
      ],
      "id": "cdbbb441-3b46-4425-b003-4f906d38e0e3",
      "name": "Format RAG Context1"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "knowledge_documents",
          "mode": "list",
          "cachedResultName": "knowledge_documents"
        },
        "options": {
          "queryName": "match_knowledge_documents",
          "metadata": {
            "metadataValues": [
              {
                "name": "=agent_id",
                "value": "={{ $('Extract Data1').first().json.agent_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -208,
        3808
      ],
      "id": "f92bf0f8-2bb6-4774-9136-3cd7e689891f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        4016
      ],
      "id": "2c9c6d18-e7c0-4bf2-9e9d-c2d46cc7cb2f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.agent_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        3568
      ],
      "id": "d22542e1-3696-4f84-b0c2-58e69699241d",
      "name": "getAgentConfigs1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EOGJkdSrjuR27Pf6",
          "name": "[PAP][mag] SUPABASE"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        3520
      ],
      "id": "672eefbb-3eb1-49de-aa1e-70e998acdd97",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zQgXKraRyRXnurrA",
          "name": "OpenAi account - pap"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.response, \"session_id\": $json.session_id } }}",
        "options": {}
      },
      "id": "97040384-e43a-4e1b-95b4-15e1f4f05fb9",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1536,
        3840
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "agent_id",
              "value": "={{ $json.body.agent_id ?? 'e5a4ea22-d5c2-4ef7-9ad0-312eeb6bba95'\n}}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.body.session_id ?? 'teste 123'}}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "history",
              "value": "={{ JSON.stringify($json.body.history || []) }}"
            },
            {
              "name": "response_format",
              "value": "={{ $json.body.response_format ?? 'text' }}"
            },
            {
              "name": "SUPABASE_FUNCTIONS_URL",
              "value": "https://bdhhqafyqyamcejkufxf.supabase.co"
            },
            {
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkaGhxYWZ5cXlhbWNlamt1ZnhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTMxOTMzNSwiZXhwIjoyMDc2ODk1MzM1fQ.IpnH7ZfuL3bQSR4LgE3pRyJV_XR-zdRqiyiXMOdCNKA"
            }
          ]
        },
        "options": {}
      },
      "id": "9d66dda6-ac57-4a4e-8aac-5efee3c928ad",
      "name": "Extract Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1040,
        3568
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workspace-agent-pap",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1264,
        3568
      ],
      "id": "dac8da5d-af53-4d4a-be8e-9a1d04d4b247",
      "name": "Webhook1",
      "webhookId": "aad39c34-9ea0-427a-99ae-8a363ada5c9d",
      "credentials": {
        "httpBasicAuth": {
          "id": "fiLiIWKGnVoMgpMd",
          "name": "Worskpace-Agent"
        }
      }
    },
    {
      "parameters": {
        "description": "Informações gerais para perguntas e respostas",
        "topK": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -208,
        3600
      ],
      "id": "278c9fbb-d679-4e28-9990-accfbf4e4a17",
      "name": "SupabaseVectorStore1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Mensagem do agente:\n{{ $json.output }}\n\n## input user:\n{{ $('Extract Data1').first().json.body.message }}",
        "options": {
          "systemMessage": "=Você é um supervisor. Siga estritamente:\n\n\n1) Consulte primeiro a Mensagem do agente, se estiver mensagem condizente com o input do user, retorne PROCEED.\n2) Se a Mensagem do agente não tiver contexto suficiente --apenas nesses casos- ([nenhum documento relevante encontrado]) ou não retornar resultados relevantes para o input do usuário, retorne HANDOFF\nresponda SOMENTE com uma destas strings:\n- PROCEED (se a base for suficiente)\n- HANDOFF (se nao for suficiente)\nNunca responda ao usuário final, não explique seus passos.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        400,
        3264
      ],
      "id": "9ec0c399-d251-430a-8279-e2095851b959",
      "name": "Supervisor Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Data1').item.json.body.session_id }}",
        "contextWindowLength": -1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -384,
        3584
      ],
      "id": "a26e6e97-733b-4a5f-85ce-84cf7f1e260a",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "gsouzabd.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "312",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9,pt;q=0.8",
            "authorization": "Basic d29ya3NwYWNlLWFnZW50OmJkaGhxYWZ5cXlhbWNlamt1Znhm",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "191.243.28.253",
            "cf-ew-via": "15",
            "cf-ipcountry": "BR",
            "cf-ray": "9998a27214b71b2c-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://agentsworkspace.papricadevs.com.br",
            "priority": "u=1, i",
            "referer": "https://agentsworkspace.papricadevs.com.br/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "191.243.28.253, 172.71.238.123",
            "x-forwarded-host": "gsouzabd.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-87-bcb9f59f7-7xp2f",
            "x-is-trusted": "yes",
            "x-real-ip": "191.243.28.253"
          },
          "params": {},
          "query": {},
          "body": {
            "agent_id": "181b4225-a01f-472b-ad5e-56937b026ddf",
            "session_id": "8e24b32f-bc8a-4b72-a2c2-e3ade8f637f9",
            "message": "voce possuem buzina?",
            "history": [
              {
                "role": "user",
                "content": "oi"
              },
              {
                "role": "assistant",
                "content": "Olá! Sou o Tron, o herói da Magnetron ⚡. Como posso ajudar você hoje em sua jornada com motos?"
              }
            ]
          },
          "webhookUrl": "https://gsouzabd.app.n8n.cloud/webhook/workspace-agent-pap",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OcrReader": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response3": {
      "main": [
        [
          {
            "node": "Refiner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HumanPending?2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG Search Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HumanPending?3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Open Assists InProgress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Open Assists InProgress1": {
      "main": [
        [
          {
            "node": "HumanPending?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Open Assists Pending1": {
      "main": [
        [
          {
            "node": "HumanPending?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aiNeedsHelp": {
      "main": [
        [
          {
            "node": "Format Response Handoff1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response Handoff1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Supervisor Decision1": {
      "main": [
        [
          {
            "node": "Format Response3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "aiNeedsHelp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Context1": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "SupabaseVectorStore1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "getAgentConfigs1": {
      "main": [
        [
          {
            "node": "Check Open Assists Pending1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "SupabaseVectorStore1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "RAG Search Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Supervisor Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Refiner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data1": {
      "main": [
        [
          {
            "node": "getAgentConfigs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SupabaseVectorStore1": {
      "ai_tool": [
        [
          {
            "node": "RAG Search Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Improvements Vector Store": {
      "ai_embedding": [
        [
          {
            "node": "Improvements Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Improvements Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ImprovementsVectorStoreTool": {
      "ai_vectorStore": [
        [
          {
            "node": "Improvements Vector Store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Refiner Agent": {
      "main": [
        [
          {
            "node": "Format Final Response (Refined)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Improvements Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Refiner Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "ImprovementsVectorStoreTool",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response (Refined)": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Search Agent1": {
      "main": [
        [
          {
            "node": "Supervisor Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor Agent1": {
      "main": [
        [
          {
            "node": "If Supervisor Decision1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "RAG Search Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "774fd0cf-d0ed-441b-a523-be8911cc0b6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07ff2d9cfd91f7cdf9966883f8bc777072e99b72e5d3da8541efdae05b3be261"
  },
  "id": "YjZdBWaolELUKRId",
  "tags": []
}